* {
    box-sizing: border-box;
}
body {
    background-color: #FCEBB6;
    color: #221811b0; /*text colour*/
    font-family : verdana, Arial, sans-serif;
    background-image: url(background.gif);
}

header {
    background-color: #D2B48C;
   background-repeat: no-repeat;
    height: 150px;
    background-image: url(javajamlogo.jpg);
    display: block;

}

h1 {
    line-height: 200%;
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left; /*to float the element on the left side of the container.*/
    width: 200px;
    display: block;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
    display: block;
}


#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #231814;               
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px 5px #333333;
}

nav a { 
    text-decoration: none;
}

nav a:link{
    color: #FEF6C2;
}
nav a:visited{
    color: #D2B48C;
}

nav a:hover{
    color: #CC9933;
}

nav ul{
    list-style-type: none;/* remove link marker ex:do in list*/
    padding-left: 0;
}
h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom: 2px solid #231814;
    padding-bottom: 0;
    clear: left;/*often used to terminate or clear a float*/
}

main{
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 2em;
    padding-top: 0em;
    margin-left: 200px;
    background-color: #FEF6C2;
    display: block;
}

.details {
    padding-right: 20%;
    padding-left: 20%;
    overflow: auto;/*often used to clear a float although its intend purpose is to configure how content should display if it is too large for the area allocated.Auto=if needed,scrollbar are displayed to allow access to the remaining content.*/

}

img{
    padding-left: 10px;
    padding-right: 10px;
}
#heroroad {
    background-image: url('heroroad.jpg');
    background-size: 100% 100%; /* w - h */
    height: 250px;

}

#heromugs {
    background-image: url('heromugs.jpg');
    background-size: 100% 100%; /* w - h */
    height: 250px;
}

#heroguitar {
    background-image: url('heroguitar.jpg');
    background-size: 100% 100%; /* w - h */
    height: 250px;
}


main h2 , main h3, main h4 , main p, main div , main ul , main dl{
    padding-left: 3em;
    padding-left: 2em;

}

.floatleft{
    float:left;
    padding-right: 2em;
    padding-bottom: 2em;
}

